body {
    background-color: rgb(244, 243, 240);
}

.card-header {
    background-color: rgb(213, 242, 190);
}

.card-footer {
    background-color: rgb(213, 242, 190);
   
}

.boton1 {
    background-color: rgb(172, 224, 224);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
